body {
	font-family: 'Anaheim';
	letter-spacing: 0px;
	padding-bottom: 60px;
	background-image: url("../img/teal.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
	/* background-size: 100%; */
}
p {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	letter-spacing: 0px;
	font-size: 14px;
}
h3 {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	font-style: italic;
	letter-spacing: 0px;
}
div.a {
	display: grid;
	grid-template-columns:20vw 60vw 20vw;
}
div.a a{
	grid-column: 2/3;
}
div.a img{
		max-width: 100%;
		padding: 2vw;
}
.bar {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	height: auto;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: rgba(255,255,255,0.5);
}
.bar img {
	height:auto;
	max-width:100%;
	width: auto;
	padding: 10px;
}
.img-responsive {
	height:auto;
	max-width:100%;
	width: auto;
}
.topnav {
    background: rgba(255,255,255,0.5);
    overflow: hidden;
		width: 60%;
		margin-left: 20vw;
		margin-right: 20vw;
}
.footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: .8em;
	color: black;
	background: white;
	padding: 2px;
}
.topnav a {
    float: left;
    text-align: center;
		font-family: 'Allerta Stencil';
		font-size: 17px;
		font-weight: bold;
		width: 14.2857142857%;
    text-decoration: none;
}
.topnav a:hover {
    background-color: rgba(255,255,255,0.6);
		color: lightblue;
		text-decoration: none;
}
.active {
    background-color: rgba(0,191,255,0.2);
    color: white;
}
.topnav .icon {
    display: none;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: lightblue;
    text-decoration: none;
}

.carousel-indicators {
		margin-bottom: -15px;
}
.content {
   margin-top: 40px;
   display: grid;
	 grid-template-columns: 100px auto auto 100px ;
 	 grid-template-rows: auto auto auto;
	 grid-gap: 10px;
   justify-content: space-around;
}
.container1 {
	grid-column: 2/4;
	grid-row: 1/2;
	overflow: hidden;
  justify-self: stretch;
  background-color: rgba(255, 255, 255, 0.8);
	/* max-width: 400px; */
}
.UIinfo {
	 grid-column: 2/4;
	 grid-row: 2/3;
	 background-color: rgba(255, 255, 255, 0.8);
   /* border: 1px solid rgba(0, 0, 0, 0.8); */
   padding: 20px;
   font-size: 20px;
   text-align: Center;
}
.UIinfo a {
		text-align: center;
}
.UIinfo1 {
	 grid-column: 2/4;
	 grid-row: 3/4;
	 background-color: rgba(255, 255, 255, 0.8);
   /* border: 1px solid rgba(0, 0, 0, 0.8); */
   padding: 20px;
   font-size: 20px;
   text-align: Center;
}
.UIinfo1 a {
		text-align: center;
}
#myCarousel {
		 border: 9px white double;
}
@media (min-width: 1250px){
	div.a {
			height: 200px;
			grid-template-columns:auto 650px auto;
	}
	div.a img {
		max-width: 650px;
		padding: 2vw;
		width: 650px;
	}
}
@media (max-width: 1000px) {
	.topnav {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.topnav a {
		font-size: 2vw;
	}
}
@media (max-width: 850px) {
	.container1 {
		grid-column: 2/4;
		grid-row: 1/2;
		max-width: 600px;
	}
	.UIinfo {
		 grid-column: 2/4;
		 grid-row: 2/3;
} }
@media (min-width: 600px) {
	.bar {
		display: none;
	}
}
@media (max-width: 600px) {
	.topnav {
		display: none;
	}
	.content {
		margin-top: 0px;
	}
	.UIinfo {
			font-size: 15px;
	}
	.UIinfo1 {
			font-size: 15px;
	}
	.UIinfo h1{
			font-size: 15px;
	}
	.UIinfo1 h1{
			font-size: 15px;
	}
}
@media (max-width: 500px) {
	 .content {grid-template-columns: auto;}
}
@media (max-width:450px) {
	div.a {display: block;}
}
@media print {
	nav, footer {
		display: none;
	}
}
