* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 body {
 	font-family: 'Anaheim';
 	letter-spacing: 2px;
 	padding-bottom: 60px;
	background-color: rgba(0, 0, 0, 0.9);
 	background-image: url("../img/caravanarchy/map2.png");
	min-height: 2345px;
  background-repeat: no-repeat;
  background-attachment: fixed;
 	background-size: 100%;
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}

img {
	max-width: 100%;
	max-height: auto;
	object-fit: contain;
	/* min-width: 100%; */
}

p {
	font-size: 3vw;
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
	/* outline-offset: 1px;
	outline: 2px dotted black; */
  font-family: 'Courier New';
	padding: 7px;
	margin-left: 7px;
	border-radius: 5px;
}
h1 {
	font-size: 7vw;
  padding: 15px;
	color: black;
  font-family: 'Righteous';
	margin: 15px;
	text-shadow: 2px 4px 4px rgba(37, 218, 0,0.6);
  -webkit-text-stroke: 2px white;
	background-color: #CCFF33;
}
h2 {
	padding: 15px;
	padding-left: 30px;
  max-width: 100%;
  font-size: 5vw;
  font-family: 'Nixie One';
	font-weight: bold;
  padding-bottom: 15px;
	color: white;
	text-shadow: 1px 1px 1px rgba(255, 255, 255,0.3);
	background-color: rgba(255, 255, 255, 0.06);
}
h3 {
	font-size: 4vw;
  padding-bottom: 5px;
	font-weight: bold;
	color: black;
  font-family: 'Roboto Mono';
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
.a {
	max-width: 100%;
	background: #9EF01A;
	margin: 10px;
	padding: 10px;
	outline: 6px double white;
	border-radius: 5px;
	box-shadow: 0 0 0 1px black;
}
	/* background-color: #CCFF33;
	background: #9EF01A; */
.texts {
	background: rgba(0, 0, 0, 0.7);
	margin: 3vw;
	outline: 6px double lime;
	border-radius: 1px;
	box-shadow: 0 0 0 1px black;
  max-width: 45vw;
}

.text2 {
	background: rgba(37, 218, 0, 0.4);
	margin: 25px;
	padding: 15px;
	outline: 3px double lime;
	border-radius: 5px;
	box-shadow: 0 0 0 1px black;
}
.listtext {
	background: rgba(255, 255, 255, 0.05);
	padding: 30px;
	outline: 1px black;
}
.child {
  background-color: black;
}
.child img{
  margin-: 1vw;
  max-width: 48vw;
}
@media (min-width: 2494px) {
	div.a {
			height: 200px;
			grid-template-columns:auto 650px auto;
	}
	div.a img {
		max-width: 100%;
		padding: 2vw;
		width: 650px;
	}
}

@media (min-width: 1300px) {
	p {
		font-size: 1.5vw;
	}
	h3 {
		font-size: 3vw;
	}
	h2 {
			font-size: 4vw;
		}
}

@media (max-width: 700px) {
.child img{
  max-width: 92vw;
}
}

/*
textarea

footer {
	padding: 2em;
	margin: 3em 0;
	border-top: 1px solid black ;
	color: ;
	text-align: center;

	div {
		margin: 0 auto;
		}

	.img-responsive {
			height:auto;
			max-width:100%;
			width: auto;
		}




	} */
