html {
	height: 100%;
}

.warning {
		background-color: #5a0000;
}

.caravanarchy {
	position: absolute;
	right: 63px;
	top: 5px;
}

.sidenav {
	height: 100%;
	width: 20vw;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding: 10px;
}

.sidenav img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	image-rendering: pixelated;
}

.dropdown-container a, .dropdown-container-open a{
	font-family: 'Spectral';
	font-size: 1.5vw;
	padding: 5px;
}

/* Add an active class to the active dropdown button */
.active {
	background-color: #8FC93A;
	color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
}
.dropdown-container-open {
	display: block;
	background-color: #262626;
	padding-left: 8px;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-right: 8px;
}

body {
	/* font-family: 'Anaheim';*/
	/* letter-spacing: 2px;*/
	/* padding-bottom: 60px;*/
	background-color: rgba(0, 0, 0, 0.9);
	/* background-image: url("../img/caravanarchy/mapardark.png");
	min-height: 2345px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; */
	/* line-height: 1.7em; */
	height: 100vh;
	color: #7f8c8d;
	font-size: 13px;
	/* overflow: hidden;*/
	margin: 0;
	position:absolute; top:0; bottom:0; right:0; left:0
}

/* The Overlay (background) */
.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */   
	height: 100%;
	width: 0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	background-color: rgb(0,0,0); /* Black fallback color */
	background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.4s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	top: 25%; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: left; /* Centered text/links */
	margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 4vw;
	color: #818181;
	display: block; /* Display block instead of inline */
	transition: 0.3s; /* Transition effects on hover (color) */
	font-family: "Kode Mono", monospace;
}

.overlay p {
	font-size: 7vw;
	margin: 5px;
	font-family: "Share Tech Mono", monospace;
	padding: 5px;
	border: 5px solid #2f5569;
}

.overlay li {
	list-style-type: none;
	outline: none;
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

.logo {
	width: 30px;
	position: absolute;
	top: 3px;
	right: 3px;
	margin-right: 10px;
}

.logo1 {
	width: 30vw;
	position: absolute;
	top: -200px;
	right: 30vw;
	margin-right: 10px;
}

.logo1 img {
	max-width: 100%;
	max-height: 100%;
}

.logo img {
	/*
	width: 30px;
	height: 30px;
	*/
	max-width: 100%;
	max-height: 100%;
}

.topnav {
	overflow: hidden;
	background-color: #000000;
	padding: 5px;
	/*  height: 25px;*/
	position: relative;
	top: 0;
	display: block;
	width: 100%;
	margin: 0;
}

.topnav span {
	font-family: "Kode Mono", monospace;
}
/*
.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

.topnav a.icon {
background: black;
display: block;
position: absolute;
right: 0;
top: 0;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}
*/
.link {
	background-color: black;
	color: white;
	padding: 15px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Spectral';
	border-radius: 10px;
}

.link:hover {
	background-color: #282931;

}

.main {
	margin-left: 20vw;
	font-size: 18px;
	padding: 0px 10px;
}

.sidenav a, .dropdown-btn {
	font-family: 'Caudex';
	/*  padding: 6px 8px 6px 16px;*/
	padding: 5px;
	text-decoration: none;
	font-size: 2.5vw;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: calc(20vw - 5px);
	text-align: left;
	cursor: pointer;
	outline: none;
}

.dropdown-btn {
	margin-top: 5px;
	background-color: #111;
}

.dropdown-btn:active {
	margin-top: 5px;
}

.sidenav img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	image-rendering: pixelated;
}

.dropdown-container a, .dropdown-container-open a{
	font-family: 'Spectral';
	font-size: 1.5vw;
	padding: 3px;
	max-width: calc(20vw - 26px);
	color: #b5b5b5;
}

.dropdown-container a:hover {
	background-color: black;
	outline: 1px solid white;
}

.thispage {
	background-color: black;
	outline: 1px solid white;
	color: white;
	padding: 3px;
}

.sidenav a:hover, .dropdown-btn:hover {
	color: #f1f1f1;
}

.sidenav a:hover {
	color: #f1f1f1;
	outline: 0.5px solid white;
}

/* Add an active class to the active dropdown button */
.active {
	background-color: #5a5a5a;
	color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
	margin-right: 5px;
}

.dropdown-container-open {
	display: block;
	background-color: #272727;
	padding: 0 8px 0 8px;
	margin-right: 5px;
	/*  max-width: calc(20vw - 5px);*/
}
/* Optional: Style the caret down icon */

.fa-caret-down {
	float: right;
	padding-top: 5px;
	padding-right: 2px;
	color: white;
	font-size: 15px;
}

.fa-caret-right {
	float: right;
	padding-top: 5px;
	padding-right: 2px;
	color: white;
	font-size: 15px;    
}

.fa-bars {
	position: fixed;
	outline: none;
}

.headerbox{
	border: 5px solid #4b4545;
	border-radius: 10px;
}

.bodyboxlink {
	text-align: center;
	margin-bottom: 15px;
}

.bodyboxcontainer {   
	margin: -15px 0 30px 1vw;
	padding: 5px 15px 15px 15px;
	background-color: #2A2B2E;
}

.boxflex1{
	display: grid;
/*	grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(0px,1fr));
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 1em;
    width: 72vw;
}

#bodybox3 {
	grid-column: 1;  
	padding: 10px;
	background-color: #97DB4F; 
	text-align: center;
}

#bodybox4 {
	grid-column: 2;  
	padding: 15px;
	background-color: #2f8ec1;
	text-align: center;
}

#bodybox5 {
	grid-column: 3;  
	padding: 15px;
	background-color: #1CCAD8;
	text-align: center;
}
#box1 {
    
}
#box2 {

}
#box3 {

}

#select-box1 {
	background-color: black;
	color: white;
	padding: 15px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Spectral';
	border-radius: 10px;	
}

#select-box2 {
	background-color: black;
	color: white;
	padding: 15px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Spectral';
	border-radius: 10px;	
}

#select-box3 {
	background-color: black;
	color: white;
	padding: 15px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Spectral';
	border-radius: 10px;	
}


.grid-options {
    width: 75vw;
    margin-right: 10px;
    overflow: hidden;
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
*/
	display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(0px,1fr));
/*  grid-template-columns: 1fr 1fr 1fr;*/
/*	grid-template-columns: repeat(3, 26vw);*/
/*	grid-template-rows: repeat(2, 1fr);*/
/*  grid-template-columns: minmax(0, 1fr) 1fr 1fr;*/
	grid-gap: 1vw;
}

#option11 {
/*
	grid-column: 1;  
	grid-row: 1; 
*/
/*	padding: 5px;*/
    margin: 5px 0 0 0;
	background-color: #97DB4F; 
	text-align: center;	
}

#option12  {
/*
	grid-column: 2;  
	grid-row: 1; 
*/
/*	padding: 5px;*/
    margin: 5px 0 0 0;
	background-color: #97DB4F; 
	text-align: center;	
}

#option13 {
/*
	grid-column: 3;  
	grid-row: 1; 
*/
/*	padding: 5px;*/
    margin: 5px 0 0 0;
	background-color: #79C99E; 
	text-align: center;	
}

#option14 {
/*
	grid-column: 1;  
	grid-row: 2; 
*/
/*	padding: 5px;*/
    margin: 5px 0 0 0;
	background-color: #79C99E; 
	text-align: center;	
}

#option15 {
/*
	grid-column: 2; 
	grid-row: 2; 
*/
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #508484; 
	text-align: center;	
}

#option16 {
/*
	grid-column: 3;
	grid-row: 2; 
*/
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #508484; 
	text-align: center;	
}

#option21 {
/*
	grid-column: 1;  
	grid-row: 1; 
*/
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #CD8BF3; 
	text-align: center;	
}

#option22  {
/*
	grid-column: 2;  
	grid-row: 1; 
*/
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #CD8BF3; 
	text-align: center;	
}

#option23 {
/*
	grid-column: 3;  
	grid-row: 1; 
*/
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #A663CC; 
	text-align: center;	
}

#option24 {
/*
	grid-column: 1;  
	grid-row: 2; 
*/
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #A663CC; 
	text-align: center;	
}

#option25 {
/*
	grid-column: 2; 
	grid-row: 2; 
*/
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #4E1B64; 
	text-align: center;	
}

#option26 {
/*
	grid-column: 3;
	grid-row: 2; 
*/
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #4E1B64; 
	text-align: center;	
}

#option31 {
/*	grid-column: 1;  */
/*	grid-row: 1; */
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #40BCD8; 
	text-align: center;	
}

#option32  {
/*	grid-column: 2;  */
/*	grid-row: 1; */
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #40BCD8; 
	text-align: center;	
}

#option33 {
/*	grid-column: 3;  */
/*	grid-row: 1; */
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #39A9DB; 
	text-align: center;	
}

#option34 {
/*	grid-column: 4;  */
/*	grid-row: 2; */
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #39A9DB; 
	text-align: center;	
}

#option35 {
/*	grid-column: 5; */
/*	grid-row: 2; */
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #1C77C3; 
	text-align: center;	
}

#option36 {
/*	grid-column: 6;*/
/*	grid-row: 2; */
	padding: 5px;
    margin: 5px 0 0 0;
	background-color: #1C77C3; 
	text-align: center;	
}

.bodytext {
	background-color: rgba(255, 255, 255, 0.8);
	/*
	padding: .5vw;
	margin: .5vw;
	*/
}

h1 {
	font-size: 10vw;
	padding: 1vw;
	color: #332f34;
	font-family: 'Averia Serif Libre';
	/*	text-shadow: 2px 4px 4px rgba(37, 218, 0,0.6);*/
	-webkit-text-stroke: .1vw white;
	/*    background-color: rgba(255, 255, 255, 0.4);*/
	text-align: center;
	margin: 0 0 0 1vw;
}

h2 {
	padding: 10px;
	max-width: 100%;
	font-size: 5vw;
	font-family: 'Caudex';
	font-weight: bold;
	color: white;
	/*	text-shadow: 1px 1px 1px rgba(255, 255, 255,0.3);*/
	background-color: rgba(255, 255, 255, 0.2);
	/*    border: 1px solid white;*/
	margin-top: 0.5vw;
	margin-bottom: 0;
}

h3 {
	margin: 5px;
    padding: 10px;
	padding-left: 5vw;
	font-size: 4vw;
	font-weight: bold;
    letter-spacing: 2px;
	color: #ffffff;
    outline: 1px solid black;
	font-family: 'Roboto Mono';
	background-color: rgba(0, 0, 0, 0.22);
	border: 1px solid white;
}

h4 {
    font-size: 1.5vw;
    padding: 10px;
    margin: 5px;
    text-align: center;
/*	padding-bottom: 5px;*/
	font-weight: bold;
	color: black;
	font-family: 'Roboto Mono';
    font-family: 'Averia Serif Libre';
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid white;
}

.side_header {
	font-size: 3.5vw;
	text-align: center;
	margin: 0;
	margin-left: -5px;
	font-family: caudex;
	color: white;
}

p {
	margin: 10px 0;
	color: black;
	padding: 15px;
	font-size: 15px;
	font-family: 'Spectral';
	color: white;
}

li {
	color: black;
	font-size: 15px;
	font-family: 'Spectral';
}

/*
.pdf a:link {
color: darkgray;
}

.pdf a:visited {
color: darkcyan;
}

.pdf a:hover {
color: teal;
}

.pdf a:active {
color: blue;
}
*/

@media (max-width: 522px), (orientation:portrait) {
	body {
		max-height: 100%;
	}
    
	.sidenav {
		display: none;
	}
    
	.logo {
		margin-right: 20px;
	}

	#logo {
		margin-top: 1px;
	}
    
    .main {
        margin: 0;
    }
    
    p {
        padding: 5px;
    }
    
    h2 {
        padding: 2px;
        font-size: 6vw;
    }
    
    h4 {
        font-size: 25px;
    }
    
	.boxflex1 {
		grid-template-columns: 100%;
        width: 94vw;
	}
    .bodyboxcontainer {
        padding: 0;
    }
    
    .grid-options {
        width: 91vw;
        grid-template-columns: 1fr 1fr;
    }
    
	#bodybox3 {
		grid-column: 1;
		grid-row: 1;
	}
    
	#bodybox4 {
		grid-column: 1;
		grid-row: 2; 
	}
    
	#bodybox5 {
		grid-column: 1;
		grid-row: 3; 
	}
}

@media (min-width: 523px) {
	.topnav {
		display: none;
	}
	.overlay {
		display: none;
	}
	.sidenav {
		display: block;
	}
}

@media (523px < width < 800px){
    .main {
        margin-left: 20vw;
    }

	.dropdown-container a, .dropdown-container-open a{
		font-size: 14px;
	}
    
    .grid-options {
        grid-template-columns: 1fr 1fr;
        width: 72vw;
        margin-left: 10px;
    }
    h2 {
        font-size: 3vw;
    }
    h4 {
        font-size: 3vw;
    }
    
	.boxflex1 {
/*		grid-template-columns: 100%;*/
        width: 74vw;
	}
}

@media (800.1px < width < 1160px) {
    .grid-options {
       grid-template-columns: repeat(3, minmax(0px,1fr));
        width: 72vw;
    }
    h2 {
        font-size: 3vw;
    }
    
    h4 {
        font-size: 3vw;
    }

}

@media (min-width: 800.1px) {
	.sidenav a, .dropdown-btn {
		font-size: 18px;
	}

	.dropdown-container a, .dropdown-container-open a{
		font-size: 16px;
	}
    h2 {
        font-size: 3vw;
    }
}

@media print {
	.sidenav {
		display: none;
	}
	.pdf object{
		width: 100vw;
		height: 100vh;
		margin-left: 0;
		display: block;
	}     
}



/*
min-width:320px smartphones, iPhone, portrait 480x320 phones 
min-width:481px) portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.
min-width:641px portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
min-width:961px tablet, landscape iPad, lo-res laptops ands desktops
min-width:1025px big landscape tablets, laptops, and desktops
min-width:1281px hi-res laptops and desktops*/
