html {
  height: 100%;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.4s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: left; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 4vw;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  font-family: "Kode Mono", monospace;
}

.overlay p {
    font-size: 7vw;
    margin: 5px;
    font-family: "Share Tech Mono", monospace;
    padding: 5px;
    border: 5px solid #2f5569;
}

.overlay li {
    list-style-type: none;
    outline: none;
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

h4 {
    font-size: 2vw;
    padding: 0;
    margin: 5px;
    font-family: 'Averia Serif Libre';
    text-align: center;
    color: aliceblue;
}

.logo {
    width: 30px;
    position: absolute;
    top: 3px;
    right: 3px;
    margin-right: 10px;
}

.logo img {
/*
    width: 30px;
    height: 30px;
*/
    max-width: 100%;
    max-height: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
  padding: 5px;
/*  height: 25px;*/
  position: relative;
  top: 0;
  display: block;
  width: 100%;
  margin: 0;
}

.topnav span {
    font-family: "Kode Mono", monospace;
}
/*
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
*/


.pdf object{
    display: block;
    position: relative;
    width: 81vw;
    height: 100vh;
    margin-top: -1vw;
    margin-left: 19vw;
    padding: 0;
}

.pdf_mobile object{
    display: none;
    position: relative;
    width: 81vw;
    height: 100vh;
/*    margin-top: 15px;*/
    margin-left: 19vw;
    padding: 0;
}

.sidenav {
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding: 10px;
}

.sidenav a, .dropdown-btn {
  font-family: 'Caudex';
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2.5vw;
  color: #818181;
  display: block;
  border: none;
  background: none;
/*  width:100%;*/
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  image-rendering: pixelated;
}

.dropdown-container a, .dropdown-container-open a{
  font-family: 'Spectral';
  font-size: 1.5vw;
  padding: 5px;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
  background-color: black;
  outline: 1px solid white;
}

.main {
  margin-left: 20vw;
  font-size: 18px;
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #8FC93A;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
.dropdown-container-open {
  display: block;
  background-color: #262626;
  padding-left: 8px;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

body {
/* font-family: 'Anaheim';*/
/* letter-spacing: 2px;*/
/* padding-bottom: 60px;*/
 background-color: rgba(0, 0, 0, 0.9);
/* background-image: url("../img/caravanarchy/mapardark.png");
 min-height: 2345px;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover; */
 /* line-height: 1.7em; */
 height: 100vh;
 color: #7f8c8d;
 font-size: 13px;
 overflow: hidden;
 margin: 0;
 position:absolute; top:0; bottom:0; right:0; left:0
}

/*
.bodytext {
	background-color: rgba(255, 255, 255, 0.8);
    padding: .5vw;
    margin: .5vw;
}

h1 {
	font-size: 10vw;
    padding: 1vw;
	color: black;
    font-family: 'Averia Serif Libre';
	margin: 15px;
	text-shadow: 2px 4px 4px rgba(37, 218, 0,0.6);
    -webkit-text-stroke: .1vw white;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
}

h2 {
    padding: 10px;
    padding-left: 5vw;
    max-width: 100%;
    font-size: 5vw;
    font-family: 'Caudex';
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 1px rgba(255, 255, 255,0.3);
	background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
}

h3 {
    padding: 10px;
    padding-left: 5vw;
    font-size: 4vw;
    padding-bottom: 5px;
	font-weight: bold;
	color: white;
    font-family: 'Roboto Mono';
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
}

h4 {
    padding: 10px;
    padding-left: 5vw;
    font-size: 3vw;
    padding-bottom: 5px;
	font-weight: bold;
	color: black;
    font-family: 'Roboto Mono';
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
}

p {
    color: black;
    padding: 15px;
    font-size: 15px;
    font-family: 'Spectral';
}

li {
    color: black;
    font-size: 15px;
    font-family: 'Spectral';
}
*/
/*
.pdf a:link {
  color: darkgray;
}

.pdf a:visited {
  color: darkcyan;
}

.pdf a:hover {
  color: teal;
}

.pdf a:active {
  color: blue;
}
*/

@media (max-width: 522px), (orientation:portrait) {
    body {
        max-height: 100%;
    }
    .sidenav {
        display: none;
    }
    .pdf_mobile object{
        display: block;
        width: 100vw;
        height: calc(100vh - 38px);
/*        margin-top: 38px;*/
        margin: 0;
    }
    .pdf object{
        display: none;
    }
    .logo {
        margin-right: 20px;
    }
}

@media (min-width: 523px) {
    .topnav {
        display: none;
    }
    .overlay {
        display: none;
    }
     .sidenav {
        display: block;
    }
     .pdf_mobile object{
        width: 81vw;
        height: 100vh;
        margin-top:-1vw;
        margin-left: 19vw;
        padding: 0;
    } 
}

@media (523px < width < 800px){

    .pdf object{
        display: none;
    }
    .pdf_mobile object{
        display: block;
    }
    .dropdown-container a, .dropdown-container-open a{
      font-size: 14px;
    }
}

@media (min-width: 801px) {
    .sidenav a, .dropdown-btn {
      font-size: 18px;
    }

    .dropdown-container a, .dropdown-container-open a{
      font-size: 16px;
    }
}

@media print {
    .sidenav {
        display: none;
    }
    .pdf object{
        width: 100vw;
        height: 100vh;
        margin-left: 0;
        display: block;
    }     
}



/*
min-width:320px smartphones, iPhone, portrait 480x320 phones 
min-width:481px) portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.
min-width:641px portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
min-width:961px tablet, landscape iPad, lo-res laptops ands desktops
min-width:1025px big landscape tablets, laptops, and desktops
min-width:1281px hi-res laptops and desktops*/
