body {
	font-family: 'Allerta Stencil';
	letter-spacing: 2px;
	padding-bottom: 60px;
	background-image: url("../img/pinks.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
	background-size: 100%;
}
p {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	letter-spacing: 0px;
}
.footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: .8em;
	color: black;
	background: white;
	padding: 2px;
}
div.a {
	display: grid;
	grid-template-columns:20vw 60vw 20vw;
}
div.a a{
	grid-column: 2/3;
}
div.a img{
		max-width: 100%;
		padding: 2vw;
}
.img-responsive {
	height:auto;
	max-width:100%;
	width: auto;
}
.topnav {
    background: rgba(255,255,255,0.5);
    overflow: hidden;
		width: 60%;
		margin-left: 20vw;
		margin-right: 20vw;

}
.topnav a {
    float: left;
    text-align: center;
		font-family: 'Allerta Stencil';
		font-size: 17px;
		font-weight: bold;
		width: 14.2857142857%;
    text-decoration: none;
}
.topnav a:hover {
    background-color: rgba(255,255,255,0.6);
		color: lightblue;
		text-decoration: none;
}
.active {
    background-color: rgba(0,191,255,0.2);
    color: white;
}
.topnav .icon {
    display: none;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: lightblue;
    text-decoration: none;
}

div.content {
	margin: 30px;
   display: grid | inline-grid;
	 grid-template-columns: 40px auto 40px;
 	 grid-template-rows: auto auto auto auto;
	 grid-gap: 10px 15px;
   justify-items: center;
	 align-items: center;
   justify-content: space-around;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.bar {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	height: auto;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: rgba(255,255,255,0.5);
}
.bar img {
	height:auto;
	max-width:100%;
	width: auto;
	padding: 10px;
}

.accordion {
 max-height: 50%;
}
.card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background:  rgba(255,255,255,0.6);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom:1px;
    border:none;
}
.card-header:first-child {
    border-radius: 0;
}
.card-header {
    background:  rgba(255,255,255,0.2);
    margin-bottom: 0;
    padding: 20px 1.25rem;
    border:none;

}
.card-header a i{
    float:left;
    font-size:25px;
    padding:5px 0;
    margin:0 25px 0 0px;
    color:#195C9D;
}
.card-header i{
    float:right;
    font-size:30px;
    width:1%;
    margin-top:8px;
    margin-right:10px;
}
.card-header a{
    width:97%;
    float:left;
    color:#565656;
}
.card-header p{
    margin:0;
}
.card-header h3{
    margin:0 0 0px;
    font-size:20px;
    font-family: 'Slabo 27px', serif;
    font-weight:bold;
    color:#3fc199;
}
.card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    color:#232323;
    box-shadow:inset 0px 4px 5px rgba(0,0,0,0.1);
    border-top:1px soild #000;
    border-radius:0;
}
/* i {
	position: fixed;
	right: 0;
	margin: 10px;
} */

@media (max-width: 1000px) {
	.topnav {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.topnav a {
		font-size: 2vw;
	}
}
@media (min-width: 600px) {
	.bar {
		display: none;
	}
}
@media (max-width: 600px) {
	.topnav {
		display: none;
	}
}
@media (max-width:450px) {
	div.a {display: block;}
}
@media print {
	nav, footer {
		display: none;
	}
}
