body {
	font-family: 'Allerta Stencil';
	letter-spacing: 2px;
	padding-bottom: 60px;
	background-image: url("../img/pinks.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
	background-size: 100%;
}
p {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
}
div.a {
	font-family: 'Merienda';
	text-align: center;
	letter-spacing: 2px;
}
.img-responsive {
	height:auto;
	max-width:100%;
	width: auto;
}
.topnav {
    background: rgba(255,255,255,0.5);
    overflow: hidden;
		width: 60%;
		margin-left: 20vw;
		margin-right: 20vw;

}
.topnav a {
    float: left;
    text-align: center;
		font-family: 'Allerta Stencil';
		font-size: 17px;
		font-weight: bold;
		width: 14.2857142857%;
    text-decoration: none;
}
.topnav a:hover {
    background-color: rgba(255,255,255,0.6);
		color: lightblue;
		text-decoration: none;
}
.active {
    background-color: rgba(0,191,255,0.2);
    color: white;
}
.topnav .icon {
    display: none;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: lightblue;
    text-decoration: none;
}

div.content {
	margin: 30px;
   display: grid | inline-grid;
	 grid-template-columns: 40px auto 40px;
 	 grid-template-rows: auto auto auto auto;
	 grid-gap: 10px 15px;
   justify-items: center;
	 align-items: center;
   justify-content: space-around;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.bar {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	height: auto;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: rgba(255,255,255,0.5);
}
.bar img {
	height:auto;
	max-width:100%;
	width: auto;
	padding: 10px;
}
@media (max-width: 1000px) {
	.topnav {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.topnav a {
		font-size: 2vw;
	}
}
@media (min-width: 600px) {
	.bar {
		display: none;
	}
}
@media (max-width: 600px) {
	.topnav {
		display: none;
	}
}

@media print {
	nav, footer {
		display: none;
	}
}
