body {
  background:url("../img/ice.jpg") fixed no-repeat;
  background-size: cover;
  }

  .wrapper{
    display:grid;
    grid-template-columns: 10em 10em auto 10em 10em;
    grid-auto-rows:minmax(100px, auto);
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
  }
  .wrapper > div{
    padding:0em;
    text-align: center;
  }
/* Sketch page images */
  .sketch {
    max-width: 100%;
  }

  /* large baby picture */
  .header {
    grid-column: 3;
    grid-row: 1/7;
  }
  .header img{
      width: 100%;
  }

  /* hexagram images */
  .box{
    width: 10em;
    overflow: hidden;
  }
  .box img{
    max-width: 100%;
  }
  .box:hover img{
    margin-top:-220px;
    display:block;
    position: fixed;
    top: 12vw;
    left: 24vw;
    height: 96vh;
    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    transition: margin 1s;
  }

  /* paragraph text styling...to be invisible until hovered over */
  .box p {
    font: 28px courier;
    font-weight: bold;
    color: orange;
    display: none;
    text-shadow: 2px 2px 5px #888;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .box:hover p {
    display: inline;
  }

/* screen resizing... not too happy with results, choppy. */

@media (max-width: 1440px) {
.header {
  grid-column: 2;
}
.wrapper {
  grid-template-columns: 10em auto 10em;
}
}

@media (max-width: 1089px) {
.wrapper {
  grid-template-columns: auto;
}
.box:hover img{
margin-top:-220px;
display:block;
position: fixed;
top: 15em;
left: 10vw;
width: 80vh;
-webkit-transition: margin 1s;
-moz-transition: margin 1s;
transition: margin 1s; }

}
@media (max-width: 900px) {
.header {
  grid-column: 1/5;
  grid-row: 1;
}
.wrapper {
  grid-template-columns: 10em 10em 10em 10em;
}
}
@media (max-width: 855px) {
.header img {
  min-height: 10px;
  min-width: 10px;
  width: 100vw;
}
}
@media (max-width: 547px) {
.header {
  grid-column: 1/4;
}
.wrapper {
  grid-template-columns: 10em 10em 10em;
}
}

/* dropdown */

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
