body {
	font-family: 'Anaheim';
	letter-spacing: 2px;
	padding-bottom: 60px;
	background-image: url("../img/greens.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
	background-size: 100%;
}
p {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	letter-spacing: 0px;
}
h3 {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	font-style: italic;
	letter-spacing: 0px;
}
div.a {
	display: grid;
	grid-template-columns:20vw 60vw 20vw;
}
div.a a{
	grid-column: 2/3;
}
div.a img{
		max-width: 100%;
		padding: 2vw;
}
.footer {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: .8em;
}
.bar {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	height: auto;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: rgba(255,255,255,0.5);
}
.bar img {
	height:auto;
	max-width:100%;
	width: auto;
	padding: 10px;
}
.img-responsive {
	height:auto;
	max-width:100%;
	width: auto;
}
.topnav {
    background: rgba(255,255,255,0.5);
    overflow: hidden;
		width: 60%;
		margin-left: 20vw;
		margin-right: 20vw;

}
	.topnav a {
	    float: left;
	    text-align: center;
			font-family: 'Allerta Stencil';
			font-size: 17px;
			font-weight: bold;
			width: 14.2857142857%;
	    text-decoration: none;
	}
	.topnav a:hover {
	    background-color: rgba(255,255,255,0.6);
			color: lightblue;
			text-decoration: none;
	}
	.active {
	    background-color: rgba(0,191,255,0.2);
	    color: white;
	}
	.topnav .icon {
	    display: none;
	}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: lightblue;
    text-decoration: none;
}

.carousel-indicators {
		margin-bottom: -15px;
}
.content {
	 /* background-color: rgba(255, 255, 255, 0.7); */
   margin-top: 40px;
   display: grid;
	 grid-template-columns: 100px auto auto 100px ;
 	 grid-template-rows: auto auto auto;
	 grid-gap: 10px;
   justify-content: space-around;
}
.container1 {
	grid-column: 3/4;
	grid-row: 1/2;
	overflow: hidden;
  justify-self: stretch;
  background-color: rgba(255, 255, 255, 0.8);
	max-width: 400px;
}
.UIinfo {
	 grid-column: 2/3;
	 grid-row: 1/2;
	 background-color: rgba(255, 255, 255, 0.8);
   /* border: 1px solid rgba(0, 0, 0, 0.8); */
   padding: 20px;
   font-size: 20px;
   text-align: left;
}
.UIinfo a {
		text-align: center;
}
#myCarousel {
}

.UIinfo1 {
	 grid-column: 2/4;
	 grid-row: 2/3;
	 background-color: rgba(255, 255, 255, 0.8);
   /* border: 1px solid rgba(0, 0, 0, 0.8); */
   padding: 20px;
   font-size: 20px;
   text-align: left;
	 display: grid;
}
.UIinfo1 p {
  color: #ffffff;
}
.UIinfo1 a {
    color: hotpink;
}
.UIinfo1 a:hover {
    color: lightblue;
    text-decoration: none;
}
.UIinfo1 h2 {
  font-weight: 700;
  color: #042029;
  font-size: 1.75em;
  margin-bottom: .4em;
}
.spantxt {
  border: 2px black;
}

.hr {
	grid-column: 1/5;
	grid-row: 1/2;
}
select {
		grid-column: 1/3;
		grid-row: 2/3;
    margin-bottom: 20px;
}
.info {
	grid-column: 1/5;
	grid-row: 3/4;
	display: grid;
}
.words {
	grid-column: 1/2;
	grid-row: 1/2;
  padding: 15px;
  background: #475B62;
  border: inset #35484f 5px;
  line-height: 3.5vw;
	height: 550px;
	max-width: 25vw;
}
#chart {
	grid-column: 2/5;
	grid-row: 1/2;
	margin-top:10px;
	max-width: 830px;
	width: 100%;
	height: 100%;
	max-height: 550px;
}

@media (max-width: 1000px) {
	.topnav {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.topnav a {
		font-size: 2vw;
	}
	.info {
		grid-column: 1/5;
		grid-row: 3/4;
		display: grid;
	}
	.words {
		grid-column: 1/2;
		grid-row: 2/3;
	  padding: 15px;
	  background: #475B62;
	  border: inset #35484f 5px;
	  line-height: 3.5vw;
		height: 100%;
		max-width: 100%;
	}
	#chart {
		grid-column: 1/2;
		grid-row: 1/2;
		margin-top:0px;
		max-width: 830px;
		width: 100%;
		height: 550px;
	}
}
@media (max-width: 850px) {
	.container1 {
		grid-column: 2/4;
		grid-row: 2/3;
		max-width: 600px;
	}
	.UIinfo {
		 grid-column: 2/4;
		 grid-row: 1/2;
	}
	.UIinfo1 {
		 grid-column: 2/4;
		 grid-row: 3/4;
	}
	.words {
		line-height: normal;
	}
}
@media (min-width: 600px) {
	.bar {
		display: none;
	}
}
@media (max-width: 600px) {
	.topnav {
		display: none;
	}
	.content {
		margin-top: 0px;
	}
}
@media (max-width: 500px) {
	 .content {grid-template-columns: auto;}
}
@media (max-width:450px) {
	div.a {display: block;}
}
@media print {
	nav, footer {
		display: none;
	}
}
