/* body */
body {
  background:url("../img/jberk.jpg") fixed;
  background-repeat: no-repeat;
}
  .header {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
  }
  .header img{
    display: block;
    max-width: 100%;
  }
  .header1 {
    grid-column:2/3;
    grid-row:1;
  }
  .header1 img {
    margin-top: 20em;
    margin-left: 15em;
    /* max-height: 200px; */
    display: block;
    max-width: 50%;
    z-index: 1;
  }
  .bio {
    grid-column:2;
    grid-row:1;
    background-color: #000;
    border: 3px double white;
    color: #00A3FF;
    padding: 1em;
    opacity: 0.6;
    overflow: hidden;
  }
  .wrapper{
    display:grid;
    grid-template-columns:repeat(7, 1fr);
    grid-auto-rows:minmax(100px, auto);
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
  }

  .wrapper > div{
    padding:0em;
  }

  .box{
    width: 10em;
    height: 12em;
}
  .box img{
    /* box-shadow: 0 0 40px 20px #fff; */
    display: block;
    max-width: 100%;
  }
  .box img{
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 9px 4px #62c4fc;
    animation: glow 1.5s linear infinite alternate;
    }

    @keyframes glow{
        to {
          box-shadow: 0px 0px 30px 20px #535FED;
            }
    }
  } */
 /* .box1 img {
    grid-column:1;
    grid-row:2;
  }

  /* dropdown */
  .dropbtn {
      background-color: #3498DB;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
      background-color: #2980B9;
  }

  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown a:hover {background-color: #ddd}

  .show {display:block;}
